:root {
  --main-bg: #e3e3e5;
  --card-bg: #14102b;
  --text-color: #14102b;
  --primary-color: white;
  --secondary-color: #2ecc71;
  --font-large: 3rem;
  --spacing: 1.5rem;
  --font-family: "Source Code Pro", monospace;
  --nav-font-family: "Gill Sans", sans-serif;
}

html {
  font-size: 15px;
}
body {
  background: var(--main-bg);
  margin: 0;
  background-image:
    radial-gradient(
      circle at 20% 30%,
      rgba(0, 90, 255, 0.4) 0%,
      transparent 40%
    ),
    radial-gradient(
      circle at 80% 20%,
      rgba(0, 60, 200, 0.35) 0%,
      transparent 45%
    ),
    radial-gradient(
      circle at 60% 80%,
      rgba(255, 0, 0, 0.3) 0%,
      transparent 50%
    ),
    radial-gradient(
      circle at 10% 90%,
      rgba(61, 253, 18, 0.25) 0%,
      transparent 50%
    );
}
body::before,
body::after {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  background: radial-gradient(circle, rgba(0, 102, 255, 0.7), transparent 70%);
  filter: blur(120px);
}
/* Glow position 1 */
body::before {
  width: 500px;
  height: 500px;
  top: 10%;
  left: 5%;
}

/* Glow position 2 */
body::after {
  bottom: -10%;
  right: 10%;
}

/* Header Section */

.header {
  z-index: 1000;
  position: inherit;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e3e2e9;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  /* justify-content: center; */
  /* align-items: center; */
}
/* nav li {
  
} */
nav li a {
  text-decoration: none;
  font-size: 3rem;
  font-family: var(--nav-font-family);
}

main {
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  font-family: var(--font-family);
}
.content {
  position: relative;
  z-index: 1;
  padding: 30px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: var(--primary-color);
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  width: 100%;
  min-height: 60vh;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.home-info {
  width: 50%;
  flex: 1 1 0;
  max-width: 720px;
  text-align: center;
}
.home-info h1 {
  font-family: "Bitcount Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 150;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
    font-size: 100px;
}
.home-info button {
  padding: 10px 15px 10px 15px;
  font-size: large;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid white;
  border-radius: 30px;
  backdrop-filter: blur(12px);
}
.home-image {
  width: 50%;
  flex: 1 1;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.home-image img {
  width: 50vh;
  height: auto;
  /* max-height: 420px; */
  object-fit: cover;
  border-radius: 12px;
}

@media (max-width: 760px) {
  .home {
    flex-direction: column;
    padding: 1.25rem;
    min-height: auto;
  }
  .home-info {
    text-align: center;
  }
  .home-image {
    width: 100%;
  }
}
